<h1>Listings#edit</h1>
<p>Find me in app/views/listings/edit.html.erb</p>

<div class="listing_inputs">
    <%= render partial: "form", locals: { amenities: @amenities, amenities_checked: @amenities_checked, button_label: "Save"} %>
</div>