<div class= "create_listing_page">
   <head>
      <h1 class= "create_listing_title">Create a Listing</h1>
   </head>
   <body class="wrap_create_list">
      <div class="listing_inputs">
         <%= render partial: "form", locals: {amenities: @amenities, amenities_checked: [], button_label: "Submit" }%>
      </div>
      <br>
   </body>
</div>
