

.create_listing_page {
    display: flexbox;
    background-color: #ded2cc;
}

.create_listing_title {
    color: #c28e71;
}

.wrap_create_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

.button {
    display: inline-block;
}

.listing_inputs {
    z-index: 1;
    /* width: 320px; */
    width: 100%;
    border: white;
    border-width: 5px;
    text-align: center;
    border-style: solid;
    padding-top: 50px;
    padding-left: 50px;
    width: 950px;
}

.listing_inputs .user-input {
    width: 330px;
    height: 33px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 18px;
}

.user-input:focus {
    border-bottom-color: #c28e71;
}

.listing_inputs .col {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.listing_inputs .col {
    column-count: 2;
    column-gap: 40px;
} 

.listing_inputs:hover p, input:hover::placeholder {
    color:  white;
}

p, span, label {
    color: grey;
    font-size: 18px;
}

.section-heading {
    font-size: 27px;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

.date {
    width: 160px!important;
}

.rent {
    width: 70px!important;
}

.pets, .roommates {
    width: 120px!important;
}

.left-x, .right-x {
    width: 42px!important;
}

.left-x {
    text-align: right;
}

.right-x {
    text-align: left;
}


