h1, h3, div{
    color: #c28e71;
}

li {
    display: inline;
    list-style: none
}

.container {
    display: flex;
    /* justify-content: flex-start; */
    gap: 10px;
}

.tab {
    text-indent: 30px;
}

img {
    width: 50%;
    height: 30%;
}

.imageGallery {
    background-color: black;
    display: flex;
    align-items: center;
}