.login_txt{
    color: white;
    text-align: center;
    font-size: 100px;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;    
}
  
.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.form {
    z-index: 1;
    position: absolute;
    width: 320px;
    text-align: center;
}

.form i {
    z-index: 1;
    color: #ccc;
    font-size: 65px;
    margin-bottom: 30px;
}

.form .user-input {
    width: 320px;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

.form .btn {
    outline: none;
    border: none;
    width: 320px;
    height: 55px;
    background: #d05a59;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}


.form .options-02 {
    color: #bbb;
    font-size: 14px;
    margin-top: 30px;
}

.form .options-02 a {
    color: #d05a59;
}
.b-btn {
    color: white;
}