<h1>Organizations#edit</h1>

<%= form_with model: @org, url: update_org_path, method: :put do |form| %>

    <h3>Organization Name: <%= form.text_field "name" %></h3>
    <h3>Background Color: <%= form.color_field "color", value: @org.color%></h3>
    
    <br>
    <%= form.submit "Submit", class: "button" %> 
<% end %>