.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -250px; */
}

.signup-form {
    z-index: 1;
    /* position: absolute; */
    width: 320px;
    text-align: center;
}

.signup-form .user-input {
    width: 320px;
    height: 55px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 18px;
}

.is-invalid {
    border-color: #d05a59!important;
}

.invalid-feedback {
    color: #d05a59;
    float: left;
}

.signup-form .btn {
    outline: none;
    border: none;
    width: 320px;
    height: 55px;
    background: #d05a59;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.signup-form .options-02 {
    color: #bbb;
    font-size: 14px;
    margin-top: 30px;
}

.signup-form .options-02 a {
    color: #d05a59;
}
.b-btn {
    color: white;
}