h2 {
    color: #c28e71;
	font-size: 48px;
}

h4 {
    color: #c28e71;
    /* margin: 10px; */
	margin: 0px 10px 10px 0px;
}

.profile {
	background-color: white;
	border-radius: 10px;
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}


.profile-info {
	color: #fff;
	padding: 30px;
    width: 70%;
}


.profile-options {
	padding: 30px;
	position: relative;
	width: 100%;
}